# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# internal
*internal*
*.DS_Store*

# CDK
*node_modules*
*cdk.out*
*cdk.context.json*

# K8s output
*cpu-api.yaml
*gpu-api.yaml
*gpu2-api.yaml

# taurus output
*2022*
*2023*